@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --origin-primary: #af0020;
  --primary: #a20b36;
  --pika-yellow: #ffcd00;
  --grayscale-dark: #212121;
  --grayscale-medium: #666666;
  --grayscale-light: #e0e0e0;
  --grayscale-background: #efefef;
  --grayscale-white: #ffffff;
  --off-white: #f8f8f8;
  --greatball-blue: #3d72e0;
  /* type-name variables */
  --normal: #a8a878;
  --fire: #f08030;
  --water: #6890f0;
  --electric: #f8d030;
  --grass: #78c850;
  --ice: #98d8d8;
  --fighting: #c03028;
  --poison: #a040a0;
  --ground: #e0c068;
  --flying: #a890f0;
  --psychic: #f85888;
  --bug: #a8b820;
  --rock: #b8a038;
  --ghost: #705898;
  --dragon: #7038f8;
  --dark: #705848;
  --steel: #b8b8d0;
  --fairy: #ee99ac;
  --submit: #40dd40;
}
.bg-normal {
  background-color: var(--normal);
}
.bg-fire {
  background-color: var(--fire);
}
.bg-water {
  background-color: var(--water);
}
.bg-electric {
  background-color: var(--electric);
}
.bg-grass {
  background-color: var(--grass);
}
.bg-ice {
  background-color: var(--ice);
}
.bg-fighting {
  background-color: var(--fighting);
}
.bg-poison {
  background-color: var(--poison);
}
.bg-ground {
  background-color: var(--ground);
}
.bg-flying {
  background-color: var(--flying);
}
.bg-psychic {
  background-color: var(--psychic);
}
.bg-bug {
  background-color: var(--bug);
}
.bg-rock {
  background-color: var(--rock);
}
.bg-ghost {
  background-color: var(--ghost);
}
.bg-dragon {
  background-color: var(--dragon);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-steel {
  background-color: var(--steel);
}
.bg-fairy {
  background-color: var(--fairy);
}

html {
  font-size: 18px;
}

p,
a,
select,
button {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "lexend";
}

.container {
  width: 100%;
  height: 100%;
}

.wtp__text--block-style {
  text-shadow:
    2px 2px 0 #27292a,
    2px -2px 0 #27292a,
    -2px 2px 0 #27292a,
    -2px -2px 0 #27292a,
    2px 0px 0 #27292a,
    0px 2px 0 #27292a,
    -2px 0px 0 #27292a,
    0px -2px 0 #27292a;

  color: #f8f8f8;
  font-weight: bolder;
  font-size: 1rem;
}
/* pokeball css start */
.home-body {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: var(--beige-bg);
}
.pokeball-content-wrapper {
  width: 950px;
  height: 950px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.homepage-pokeball {
  box-shadow: 15px 15px 10px rgb(32, 32, 32);
  aspect-ratio: 1;
  border-radius: 100%;
  background: linear-gradient(
    to bottom,
    var(--primary) 0% 45%,
    black 45% 55%,
    var(--off-white) 55% 100%
  );
  border: 20px solid black;
}
.pokeball-top {
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.center-ball {
  border: 30px solid black;
  background-color: var(--off-white);
  width: 275px;
  height: 275px;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  height: 100%;
  gap: 80px;
}
.button-flex-container button {
  font-weight: 900;
  font-size: 18px;
  border-radius: 50px;
  border: 10px solid black;
  height: 75px;
  width: 250px;
}
.center-ball button {
  width: 85%;
  height: 85%;
  border-radius: 100%;
  border: 6px solid black;
}
/* pokeball css end */
.pokeball-footer {
  align-self: flex-end;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.pokeball-footer p {
  font-weight: bolder;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
}
.pokeball-top p {
  background-color: var(--off-white);
  text-align: center;
  padding: 5px 40px;
  border-radius: 30px;
  box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}
.button-wrap {
  display: flex;
  justify-content: center;

  padding: 0 50px;
}
.button-wrap.inner {
  gap: 60px;
}
.button-wrap.middle {
  gap: 350px;
}

/* css for whos that pokemon game */
body {
  background-color: var(--off-white);
}
header {
  background-color: var(--primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0px;
  width: 100%;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("./assets/sort-down-solid-full\ \(1\).svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10%;
  height: 62px;
  width: 200px;
  padding-left: 5px;

  margin-right: 20px;
}

.header__title {
  font-family: "Archivo black";
  font-size: 40px;
  font-weight: bolder;
  color: var(--pika-yellow);
  -webkit-text-stroke: 3px black;
  text-decoration: none;
}
nav {
  max-width: 1440px;
  align-items: flex-end;
  display: flex;
  margin: 0 auto;
  gap: 15px;
}
nav a {
  /* padding: 5px 5px; */
  font-weight: bold;
  font-size: 1rem;
  color: var(--off-white);
  /* add hover effect */
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wtp {
  display: flex;
  flex-direction: row;
  gap: 200px;
  padding: 30px 0;
  /* margin-bottom: 40px; */
  justify-content: space-around;
}
.wtp__title {
  font-weight: bolder;
  font-size: 2rem;
}
.wtp__title span {
  color: var(--primary);
}
.wtp__right {
  display: flex;
  align-items: end;
}
.wtp__play-btn {
  background-color: var(--pika-yellow);
  width: 127px;
}
.wtp__select-wrapper {
  display: flex;
  flex-direction: column;
}
.wtp__btn-padding {
  padding: 15px 30px;
}
.btn-primary {
  font-weight: bold;
  border: 5px solid black;
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
}
.greatball__svg--wrapper {
  position: relative;
  display: grid;
  place-items: center;
}
.greatball__bg {
  grid-area: 1/1;
  width: 550px;
  height: 550px;
  user-select: none;
  -webkit-user-drag: none;
}
.greatball__svg {
  grid-area: 1/1;
  width: 80%;
  height: 80%;
  aspect-ratio: 1/1;
  user-select: none;
  -webkit-user-drag: none;
}
.black-overlay {
  filter: brightness(0);
}
.sub-heading {
  font-family: "Archivo Black";
  font-weight: bolder;
  font-size: 2rem;
  color: var(--pika-yellow);
  -webkit-text-stroke: 2px black;
}
.height-20 {
  height: 10px;
  /* padding: 1px 0; */
  margin-bottom: 20px;
}
.input-box__wrapper {
  margin: 20px 0 10px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.input-box__input {
  padding: 15px 0;
  border: 5px solid black;
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  background-color: #d3d7de;
}
.submit-btn {
  margin-left: 20px;
  background-color: var(--submit);
}
.skip-btn {
  background-color: #cf1739;
}

.bottom-bar__wrapper {
  display: flex;
  margin: 10px 0 30px;
  gap: 20px;
}

.score-card {
  padding: 20px;
  background: linear-gradient(
    180deg,
    var(--primary) 0% 50%,

    var(--off-white) 50% 100%
  );
}
.hint-btn__cry {
  height: 100px;
  width: 100px;
  padding: 10px 14px 14px 14px;
  background: linear-gradient(
    -150deg,
    var(--greatball-blue) 0% 50%,

    var(--off-white) 50% 100%
  );
}
.hint-btn__type {
  padding: 10px 14px 14px 14px;
}

.score-card,
.hint-btn__cry,
.hint-btn__type {
  border-radius: 100%;
  text-align: center;
  height: 100px;
  width: 100px;
}

/* .bottom-bar__wrapper .btn-primary {
  width: 190px;
  text-align: center;
  padding: 5px 0;
} */

.hidden {
  display: none;
}
