:root {
  --origin-primary: #af0020;
  --primary: #a20b36;
  --pika-yellow: #ffcd00;

  --off-white: #f8f8f8;
  --greatball-blue: #3d72e0;
  --ultraball-grey: #434144; /* type-name variables */
  --normal: #a8a878;
  --fire: #f08030;
  --water: #6890f0;
  --electric: #f8d030;
  --grass: #78c850;
  --ice: #98d8d8;
  --fighting: #c03028;
  --poison: #a040a0;
  --ground: #e0c068;
  --flying: #a890f0;
  --psychic: #f85888;
  --bug: #a8b820;
  --rock: #b8a038;
  --ghost: #705898;
  --dragon: #7038f8;
  --dark: #705848;
  --steel: #b8b8d0;
  --fairy: #ee99ac;
  --submit: #40dd40;
}
.bg-normal {
  background-color: var(--normal);
}
.bg-fire {
  background-color: var(--fire);
}
.bg-water {
  background-color: var(--water);
}
.bg-electric {
  background-color: var(--electric);
}
.bg-grass {
  background-color: var(--grass);
}
.bg-ice {
  background-color: var(--ice);
}
.bg-fighting {
  background-color: var(--fighting);
}
.bg-poison {
  background-color: var(--poison);
}
.bg-ground {
  background-color: var(--ground);
}
.bg-flying {
  background-color: var(--flying);
}
.bg-psychic {
  background-color: var(--psychic);
}
.bg-bug {
  background-color: var(--bug);
}
.bg-rock {
  background-color: var(--rock);
}
.bg-ghost {
  background-color: var(--ghost);
}
.bg-dragon {
  background-color: var(--dragon);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-steel {
  background-color: var(--steel);
}
.bg-fairy {
  background-color: var(--fairy);
}

html {
  font-size: 16px;
  font-family: "Bricolage Grotesque";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.black-overlay {
  filter: brightness(0);
}

/* header style */
